*{
    padding: 0;
    margin: 0;
}
body, html{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.box{
    background-color:#f2f2f2;
    height: 100%;
}
.topo{
    background-color: #70899C;
    height: 50px;
    width: calc(100% - 200px);
    float: right;
}
.topo h1{
    text-align: center;
    color: white;
}
.menu{
    background-color: #455a64;
    float: left;
    height: 100%;
    width: 200px;
    padding: 10px;
    overflow-y: auto;
}
.menu-avatar{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    background: gray;
    border-radius: 50%;  
}
.menu-avatar i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 50px;
}
.avatar{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 50px;
}
.content{
    height: 50px;
    width: calc(100% - 200px);
    float: right;
}